bin/*
*.exe
.idea/*
obj/*
Twenty-Twenty-Twenty-Console.csproj.user
Twenty-Twenty-Twenty-Console_TemporaryKey.pfx
*.cache
.vs/*
packages/*
bin/Debug/Twenty-Twenty-Twenty-Console.exe
bin/Debug/Twenty-Twenty-Twenty-Console.exe
