
.vs/Twenty-Twenty-Twenty-Console/v16/.suo
.idea/.idea.Twenty-Twenty-Twenty-Console/.idea/encodings.xml
.vs/Twenty-Twenty-Twenty-Console/v16/.suo
.vs/Twenty-Twenty-Twenty-Console/v16/Server/sqlite3/storage.ide
.vs/Twenty-Twenty-Twenty-Console/v16/Server/sqlite3/storage.ide
bin/Debug/app.publish/Twenty-Twenty-Twenty-Console.exe
bin/Debug/Twenty-Twenty-Twenty-Console.application
bin/Debug/Twenty-Twenty-Twenty-Console.exe
bin/Debug/Twenty-Twenty-Twenty-Console.exe.manifest
bin/*
*.exe
.idea/*
obj/*
Twenty-Twenty-Twenty-Console.csproj.user
Twenty-Twenty-Twenty-Console_TemporaryKey.pfx
*.cache
.vs/*